{
  "libraries": {
    "USE_DELAY": true,
    "USE_FIFO": true,
    "USE_SERIAL_PRINT": true
  },
  "parameters": {
    "arduino": {
      "FIFO_SIZE": 32
    },
    "espidf": {
      "FIFO_SIZE": 32
    },
    "zephyr": {
      "FIFO_SIZE": 32
    }
  }
}
